<!-- templates/posts/post_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>
    <h1>Post List</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                (<a href="{% url 'post_update' post.pk %}">Edit</a>)
                (<a href="{% url 'post_delete' post.pk %}">Delete</a>)
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'post_create' %}">Create New Post</a>
</body>
</html>